/* *{
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}
 */


.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.filter{
    position: fixed;
    width: 80px;
    height: 80px;
    cursor: pointer;
    font-size: 3.5rem;
    font-weight: 200;
    background:#0C9;
    border-radius: 50%;
    right: 40px;
    bottom: 40px;
    box-shadow: 2px 2px 3px #999;
    color: whitesmoke;
    z-index: 2000;
    transition: box-shadow 0.2s ease-in-out;

}


@media(min-width:600px){    
    .product-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: flex-start;*/
        gap:1.6rem; 
        /* justify-content: space-between; */
    }       
    
}

.filter:hover{
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.2);
  

}

@media(max-width:600px){
    .filter{
        right:15px;
        width:70px;
        height: 70px;
        text-align: center; 
        bottom: 60px;
    }       
    
    .funnel{
        font-size: 2.7rem;
        color: whitesmoke;
    }
}

