/* *{
    padding: 0;
    margin : 0;
    box-sizing: border-box;
} */

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}



header {
    padding: 1rem 0;
    display: block;
    position: relative;
    /* background: lightseagreen; */
    background: #131921;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav__list {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-item {
    text-decoration: none;
    list-style: none;
    font-size: 1.1rem;
}

.nav-item+.nav-item {
    margin-left: 1rem;
}

.nav-link {
    text-decoration: none;
    /* color: black; */
    color: white;
    font-weight: 600;
}
.nav-link-dropdown{
    text-decoration: none;
     color: black; 
}

.bars {
    display: none;
    font-size: 1.4rem;
}

.btn-logout {
    background: none;
    /* padding: 0.4rem 1.4rem; */
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: black;
}

.search_place{
  width: 24rem;  
  position: relative;
  background: #febd69;
  border-radius: 4px 4px 4px 4px;
}

.search_bar {
    width: 100%;
    padding: 0 3rem 0 1rem;
    font-size: 0.9rem;
    height: 2.25rem; 
    border: none;
    color: #696e79;
    border-radius: 4px 0px 0px 4px;
    outline: none;
    
    
}

.search{
    position: absolute;
    right: 15px;
    top:6px;
    z-index: 5;
}

.profile-icon{
   border: "1px solid";
}

.profile{
    list-style: none;
    padding: 1rem; 
    position: absolute;
    /* border: 1px solid black; */
    top:5rem;
    right:0;
    z-index: 1100;
    background-color: white;
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);

}

.profile-list{
  list-style: none;
}
.profile-item{
    display: none;
}

.profile-menu{
    display: flex;
}

.profile-list-item{
    cursor: pointer;
    color: black;
}

@media(max-width:800px) {
    .search_place{
        width: 19.5rem;
    }
    .search_bar{
        font-size: 0.8rem;
    }
}



@media(max-width:600px) {
    .bars {
        display: block;
        padding: 0 0.8rem;
        cursor: pointer;
    }

    .nav-list {
        display: none;
    }

    .nav__list {
        z-index: 100;
        position: absolute;
        /* border: 2px solid yellow; */
        background-color: lightgray;
        display: block;
        text-align: left;
        top: 81px;
        width: 100%;
        left: 0;
        transition: all 0.5 ease;
    }

    .nav-item {
        padding: 0.5rem 1rem;
    }

    .nav__list .nav-item:hover {
        background-color: greenyellow;
    }

    .nav-item+.nav-item {
        margin-left: 0px;
    }

    .search_place{
        width: 10rem;
        margin-left:0.2rem ;
    }
    .search_bar{
        padding: 0 2rem;
        font-size: 0.8rem;
        height: 1.6rem;
        
    }
    .search{
        position: absolute;
        left: 8px;
        top:2px;
    }
    .profile-item{
        display: flex;
    }
    .profile-menu{
        display: none;
    }
}